*.csv
*.db
.env
*.key
*.log
*_log.txt
*.out
*.png
*.pyc
*.sqlite3
*.tmp
*_dump*.json
*.backup
temp_*
temp-*
__pycache__
backup_the_oldfashioned_way.py
quick_backup_and_old
frontend/perspective-package.zip
.DS_Store
orchestrator/logs
*_transcript.txt
common/Transfer - Shortcut.lnk

# Ignore Terraform state files and backups
deploy/terraform.tfstate.backup
deploy/**/terraform.tfstate.backup

# Ignore lock files
deploy/.terraform.tfstate.lock.info
deploy/**/.terraform.lock.hcl

# Ignore Terraform provider binaries and caches
deploy/.terraform/
# Ignore any hidden files or directories, which may contain sensitive information
deploy/.*
deploy/docker_configuration/terraform.tfstate.backup
common/scripts/gemini_key_encoded.txt
