*.csv
*.db
.env
*.key
*.log
*_log.txt
*.out
*.png
*.pyc
*.sqlite3
*.tmp
*_dump*.json
*.backup
temp_*
temp-*
__pycache__
backup_the_oldfashioned_way.py
quick_backup_and_old
frontend/perspective-package.zip
.DS_Store
orchestrator/logs
*_transcript.txt

# Ignore Terraform state files and backups
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup

# Ignore lock files
terraform/.terraform.tfstate.lock.info
terraform/.terraform.lock.hcl
terraform/**/.terraform.tfstate.lock.info
terraform/**/.terraform.lock.hcl

# Ignore Terraform provider binaries and caches
terraform/.terraform/
terraform/**/.terraform/

# Optional: Ignore any hidden files or directories, which may contain sensitive information
terraform/.env
common/Transfer - Shortcut.lnk
deploy/terraform/docker_configuration/terraform.tfstate.backup
deploy/terraform/docker_configuration/terraform.tfstate.backup
