*.key
.env
__pycache__
temp_*
*.tmp
*.log
*.out
*.db
*.sqlite3
backup_the_oldfashioned_way.py
temp-deploy-aci-ai.yaml
temp-deploy-aci.yaml
gameserver/Gemini_response_log.txt
gameserver/rooms_dump.json
